<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Cadastro de Avaliação Individual</title>
<th:block layout:fragment="css-extra">
	<link rel="stylesheet" type="text/css"
		th:href="@{/stylesheets/multiselect/bootstrap-select.min.css}" />
		<link rel="stylesheet" type="text/css"
		th:href="@{/stylesheets/pesquisa/bootstrap-chosen.css}" />

</th:block>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Cadastro de Avaliação Individual</h1>
				</div>

				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-primary" th:href="@{/avaliacoesIndividuais}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span
							class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:object="${avaliacaoIndividual}"
			th:action="@{/avaliacoesIndividuais}">
			<brewer:message />


			<input type="hidden" th:field="*{id}" /> <input type="hidden"
				th:field="*{criadopor}" /> <input type="hidden"
				th:field="*{criadoem}" />
			<div class="row">
				<div class="form-group  col-sm-4  bw-required">
					<label for="nome" class="control-label">Data Avaliação</label> <input
						type="text" class="form-control" id="dataAvaliacao" name="data"
						th:field="*{dataAvaliacao}" data-provide="datepicker"
						data-date-language="pt-BR" data-date-autoclose="true"
						data-date-today-highlight="true" data-date-orientation="bottom" />
				</div>
				<div class="form-group  col-sm-4  bw-required"
					brewer:classforerror="pessoadef">
					<label for="nome_guerra" class="control-label">Avaliado</label> 
					<select
						data-placeholder="Pesquisar" th:field="*{pessoadef}" id="avaliado"
						class="chosen-select form-control" tabindex="7">
						<option value=""></option>
						<option th:each="pessoa : ${pessoas}" th:value="${pessoa.id}"
							th:text="|${pessoa.matricula} - ${pessoa.nome}|"></option>

					</select>
				</div>
				<div class="form-group  col-sm-4  bw-required"
					brewer:classforerror="avaliador">
					<label for="avaliador" class="control-label">Avaliador</label> 
					<select
						data-placeholder="Pesquisar" th:field="*{avaliador}" id="avaliador"
						class="chosen-select form-control" tabindex="7">
						<option value=""></option>
						<option th:each="avaliador : ${avaliadores}" th:value="${avaliador.id}"
							th:text="|${avaliador.pessoadef.matricula} - ${avaliador.pessoadef.nome}|"></option>

					</select>
				</div>
				</div>
				<div class="row">
					<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab"
						href="#atividadeFisica">Atividade Física</a></li>
					<li><a data-toggle="tab" href="#comportamento">Comportamentos</a></li>

					</ul>
				</div>
				

				

				<button type="submit" class="btn  btn-primary">Salvar</button>
				<a class="btn  btn-primary" th:href="@{/avaliacoesIndividuais}">Voltar</a>
		</form>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	
	<script th:src="@{/javascripts/pesquisa/chosen.jquery.min.js}"></script>
	<script th:src="@{/javascripts/multiselect/bootstrap-select.js}"></script>
	<script>
		$('.chosen-select').chosen();
	</script>
</th:block>

</html>
