<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Cadastro de Avaliador</title>
<th:block layout:fragment="css-extra">
	<link rel="stylesheet" type="text/css"
		th:href="@{/stylesheets/multiselect/bootstrap-select.min.css}" />
		<link rel="stylesheet" type="text/css"
		th:href="@{/stylesheets/pesquisa/bootstrap-chosen.css}" />

</th:block>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Cadastro de Avaliador</h1>
				</div>

				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-primary" th:href="@{/avaliadores}"> <i
							class="glyphicon  glyphicon-plus-sign"></i> <span
							class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:object="${avaliador}" th:action="@{/avaliadores}">
			<brewer:message/>
			

			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{criadopor}" />
			<input type="hidden" th:field="*{criadoem}" />
			<div class="row">
				<div class="form-group  col-sm-4  bw-required"
					brewer:classforerror="pessoadef">
					<label for="avaliador" class="control-label">Avaliador</label> 
					<select
						data-placeholder="Pesquisar" th:field="*{pessoadef}" id="avaliador"
						class="chosen-select form-control" tabindex="7">
						<option value=""></option>
						<option th:each="pessoa : ${pessoas}" th:value="${pessoa.id}"
							th:text="|${pessoa.matricula} - ${pessoa.nome}|"></option>

					</select>
				</div>
				<div class="form-group  col-sm-4">
					<label for="telefone">CREF</label> <input type="text"
						class="form-control" id="cref"
						th:field="*{cref}" />
				</div>
				<div class="form-group  col-sm-4" brewer:classforerror="escolaridade">
					<label for="escolaridade" class="control-label">Escolaridade</label> 
					<select id="escolaridade" class="form-control" th:field="*{escolaridade}" name="escolaridade">
						<option value="">Selecione uma opção</option>
						<option th:each="escolaridade : ${escolaridades}" th:value="${escolaridade}"
							th:text="${escolaridade.descricao}"></option>
					</select>
				</div>
			</div>


			<button type="submit" class="btn  btn-primary">Salvar</button>
			<a class="btn  btn-primary" th:href="@{/avaliadores}">Voltar</a>
		</form>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/pesquisa/chosen.jquery.min.js}"></script>
	<script th:src="@{/javascripts/multiselect/bootstrap-select.js}"></script>
	<script>
		$('.chosen-select').chosen();
	</script>
</th:block>

</html>
