<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Cadastro de Avaliação Coletiva</title>
<th:block layout:fragment="css-extra">
	<link rel="stylesheet" type="text/css"
		th:href="@{/stylesheets/pesquisa/bootstrap-select.css}" />
	

</th:block>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Cadastro de Avaliação Coletiva</h1>

					</div>

					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-primary" th:href="@{/testesFisicos}"> <i
								class="glyphicon  glyphicon-search"></i> <span
								class="hidden-xs  hidden-sm">Pesquisa</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">

			<form method="POST" th:action="@{/testesFisicos}"
				th:object="${testeFisico}">
				<brewer:message />
				<!-- <div layout:include="MensagemGeral"></div>
    	<div layout:include="MensagemErro"></div> -->


				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{criadopor}" /> <input type="hidden"
					th:field="*{criadoem}" /> <input type="hidden" th:field="*{tipos}" />
				<div class="row">

					<div class="form-group  col-sm-4  bw-required">
						<label for="data" class="control-label">Data</label> <input
							type="text" class="form-control" id="data" name="data"
							th:field="*{data}" data-provide="datepicker"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" data-date-orientation="bottom" />
					</div>
					<div class="form-group  col-sm-6  bw-required"
						brewer:classforerror="objetivo">
						<label for="nome" class="control-label">Objetivo</label> <input
							type="text" class="form-control" id="objetivo"
							autofocus="autofocus" th:field="*{objetivo}" />
					</div>
					<div class="form-group  col-sm-2  bw-required"
						brewer:classforerror="notaAprovacao">
						<label for="notaAprovacao" class="control-label">Nota de
							Aprovação</label> <input type="text" class="form-control js-decimal"
							id="notaAprovacao" th:field="*{notaAprovacao}" />
					</div>


				</div>

				<div th:if="${testeFisicoSalvo}">
					<div class="table-responsive">
						<table class="table  table-hover table-condensed table-resultados">
							<thead>
								<tr>

									<th>Tipo de Teste</th>
									<th>Descrição</th>
									<th></th>
								</tr>
							</thead>

							<tbody id="listaTipos">
								<tr th:each="tipo : *{tipos}">

									<td th:text="${tipo.nome}">NOME</td>
									<td th:text="${tipo.descricao}">Descricao</td>

									<td class="text-center"><a class="btn btn-link btn-xs"
										data-toggle="modal" data-target="#myModalExclusaoTipo"
										th:attr="data-id=${tipo.id}, data-nome=${tipo.nome}"
										title="Excluir" rel="tooltip" data-placement="top"> <span
											class="glyphicon glyphicon-remove"></span>
									</a></td>
								</tr>

							</tbody>
						</table>
					</div>


					<div class="bw-field-action__icon">
						<a href="#" data-toggle="modal"
							data-target="#modalCadastroProvaTipo"> <i
							class="glyphicon  glyphicon-plus-sign"></i> <span
							class="hidden-xs  hidden-sm">Adicionar Tipo</span>
						</a>
					</div>
				</div>
				<br>
				<div class="" th:if="${temTipo}">
					<ul class="nav nav-tabs">

						<li th:class="${iter.first}? 'active'"
							th:each="tipo,iter : *{tipos}"><a data-toggle="tab"
							th:href="|#${tipo.id}|"><span th:utext="${tipo.nome}"></span></a>
						</li>

					</ul>

					<div class="tab-content">

						<div th:each="tipo,iter: *{tipos}" th:id="${tipo.id}"
							class="tab-pane fade"
							th:class="${iter.first}? 'tab-pane fade in active': 'tab-pane fade'">

							<div class="table-responsive">
								<table
									class="table  table-hover table-condensed table-striped table-resultados">
									<thead>
										<tr>
											<th>MATRÍCULA</th>
											<th>NOME</th>
											<th th:each="prova, iterProvas : ${tipo.provas}"><span
												th:utext="${prova.nome}"></span></th>
											<th>NOTA</th>
											<th></th>
										</tr>
									</thead>

									<tbody id="listaDetalhe">

										<tr th:each="resultado : ${resultados}">
											
											<td th:text="${resultado.pessoa.matricula}" th:if="${resultado.tipoTeste.id}==${tipo.id}">Matricula</td>
											<td th:text="${resultado.pessoa.nome}" th:if="${resultado.tipoTeste.id}==${tipo.id}">Nome</td>
											
											<td th:text="${resultado.valorProva1}"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva1}=='NOTA'">Nome</td>
											<td th:text="(${resultado.valorProva1}==1 ? APTO : INAPTO)"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva1}=='APTOINAPTO'">Nome</td>
											<td th:text="${#strings.replace(resultado.valorProva1, '.', '&#8221')}"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva1}=='TEMPO'">Nome</td>
											
											<td th:text="${resultado.valorProva2}"
												th:if="${tipo.qtdProvas}>=2 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva2}=='NOTA'"  >Nome</td>
											<td th:text="(${resultado.valorProva2}==1 ? APTO : INAPTO)"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva2}=='APTOINAPTO'">Nome</td>
											<td th:text="${#strings.replace(resultado.valorProva2, '.', '&#8221')}"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva2}=='TEMPO'">Nome</td>
											
											<td th:text="${resultado.valorProva3}"
												th:if="${tipo.qtdProvas}>=3 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva3}=='NOTA'">Nome</td>
											<td th:text="(${resultado.valorProva3}==1 ? APTO : INAPTO)"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva3}=='APTOINAPTO'">Nome</td>
											<td th:text="${#strings.replace(resultado.valorProva3, '.', '&#8221')}"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva3}=='TEMPO'">Nome</td>
											
											<td th:text="${resultado.valorProva4}"
												th:if="${tipo.qtdProvas}>=4 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva4}=='NOTA'">Nome</td>
											<td th:text="(${resultado.valorProva4}==1 ? APTO : INAPTO)"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva4}=='APTOINAPTO'">Nome</td>	
											<td th:text="${#strings.replace(resultado.valorProva4, '.', '&#8221')}"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva4}=='TEMPO'">Nome</td>
											
												
											<td th:text="${resultado.valorProva5}"
												th:if="${tipo.qtdProvas}>=5 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva5}=='NOTA'">Nome</td>
											<td th:text="(${resultado.valorProva5}==1 ? APTO : INAPTO)"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva5}=='APTOINAPTO'">Nome</td>
											<td th:text="${#strings.replace(resultado.valorProva5, '.', '&#8221')}"
												th:if="${tipo.qtdProvas}>=1 and ${resultado.tipoTeste.id}==${tipo.id} and ${resultado.tipoPontuacaoProva5}=='TEMPO'">Nome</td>
											

											<td th:if="${resultado.tipoTeste.id}==${tipo.id}">Nota</td>
											<td class="text-center" th:if="${resultado.tipoTeste.id}==${tipo.id}"><a class="btn btn-link btn-xs"
												data-toggle="modal" data-target="#myModalExclusaoResultado"
												th:attr="data-id=${resultado.id}, data-nome=${resultado.pessoa.nome}"
												title="Excluir" rel="tooltip" data-placement="top"> <span
													class="glyphicon glyphicon-remove"></span>
											</a></td>
										</tr>

									</tbody>
								</table>
								<div class="bw-field-action__icon">
									<a href="#" data-toggle="modal"
										data-target="#modalAdicionaResultado"
										th:attr="data-tipo=${tipo.id}"> <i
										class="glyphicon  glyphicon-plus-sign"></i> <span
										class="hidden-xs  hidden-sm">Adicionar Resultado</span>
									</a>
								</div>
								<br>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">

						<button type="submit" class="btn btn-primary">Salvar</button>
						<a class="btn  btn-primary" th:href="@{/testesFisicos}">Voltar</a>

					</div>
				</div>




			</form>
		</div>
		<div th:replace="testesFisicos/AdicionaTipoTeste :: modal"></div>
		<div th:replace="testesFisicos/AdicionaResultado :: modal"></div>
		<div
			th:replace="testesFisicos/ConfirmaExclusaoTipoTeste :: modalDetalhe"></div>
		<div
			th:replace="testesFisicos/ConfirmaExclusaoResultado :: modalExclusao"></div>

	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
		<script th:src="@{/javascripts/provas-tipoteste-cadastro.js}"></script>
		<script th:src="@{/javascripts/resultado-teste-cadastro.js}"></script>
		<script th:src="@{/javascripts/adiciona-resultado.js}"></script>
		<script th:src="@{/javascripts/excluir-resultado.js}"></script>
		<script th:src="@{/javascripts/bpchoque.js}"></script>
		<script th:src="@{/javascripts/pesquisa/bootstrap-select.js}"></script>
		<script th:src="@{/javascripts/formata-campo-tempo.js}"></script>
		
		
		

	</th:block>
</body>
</html>