<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Cadastro de Doação</title>
</head>
<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Cadastro de Doação</h1>

				</div>

				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-primary" th:href="@{/doacoes}"> <i
							class="glyphicon  glyphicon-plus-sign"></i> <span
							class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">

		<form method="POST" th:action="@{/doacoes}" th:object="${doacao}">
			<brewer:message />
			<!-- <div layout:include="MensagemGeral"></div>
    	<div layout:include="MensagemErro"></div> -->


			<input type="hidden" th:field="*{id}" /> <input type="hidden"
				th:field="*{criadopor}" /> <input type="hidden"
				th:field="*{criadoem}" />
			<div class="row">
				<div class="form-group  col-sm-4  bw-required">
					<label for="dataDoacao" class="control-label">Data</label> <input
						type="text" class="form-control" id="dataDoacao" name="dataDoacao"
						th:field="*{dataDoacao}" data-provide="datepicker"
						data-date-language="pt-BR" data-date-autoclose="true"
						data-date-today-highlight="true" data-date-orientation="bottom" />
				</div>

				<div class="form-group  col-sm-8  bw-required"
					brewer:classforerror="doador">
					<label for="doador" class="control-label">Doador</label> <input
						type="text" class="form-control" id="dataDoador"
						autofocus="autofocus" th:field="*{doador}" />
				</div>

			</div>


			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Tipo</th>
							<th>Valor</th>
							<th>Descrição</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="detalhe : ${doacao.detalhes}">
							<td class="text-center" th:text="${detalhe.id}">1</td>
							<td th:text="${detalhe.tipo}">Tipo</td>
							<td th:text="${detalhe.quantidade}">Tipo</td>
							<td th:text="${detalhe.descricao}">Descrição</td>
							<td class="text-center"><a class="btn  btn-link  btn-xs"
								title="Editar"> <i class="glyphicon glyphicon-pencil"></i>
							</a> <a class="btn  btn-link  btn-xs" title="Excluir"> <i
									class="glyphicon glyphicon-remove"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>


			<div class="bw-field-action__icon">
				<a href="#" data-toggle="modal"
					data-target="#modalCadastroItemDoacao"> <i
					class="glyphicon  glyphicon-plus-sign"></i> <span
					class="hidden-xs  hidden-sm">Adicionar Item</span>
				</a>
			</div>
			<br>

			<div class="row">
				<div class="form-group col-sm-12">

					<button type="submit" class="btn btn-primary">Salvar</button>
					<a class="btn  btn-primary" th:href="@{/doacoes}">Voltar</a>

				</div>
			</div>




		</form>
	</div>
	<div th:replace="doacoes/CadastroItemDoacao :: modal"></div>
	
</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/detalhe-doacao.cadastro.js}"></script>
		

	</th:block>
</body>
</html>